<form novalidate [formGroup]="step2FormGroup">
  <md-card>
    <md-card-subtitle>Step <strong>1</strong> of <strong>3</strong></md-card-subtitle>
    <md-card-title>User</md-card-title>
    <md-card-content>

    <div class="form-group">
      <md-input-container>
        <input mdInput type="number" placeholder="Fees" formControlName="fees">
        <md-error
          *ngIf="step2FormGroup.get('fees').touched && step2FormGroup.get('fees').hasError('required')">
          Fees is <strong>required</strong>
        </md-error>
      </md-input-container>
    </div>

    <div fxFlex>
      Methodology
      <md-radio-group formControlName="methodology">
        <md-radio-button *ngFor="let methodology of methodologies" [value]="methodology">{{methodology}}</md-radio-button>
      </md-radio-group>

    </div>

    </md-card-content>
    <md-card-actions>
      <button (click)="back()" md-raised-button color="accent">Back</button>
      <button (click)="next()" [disabled]="step2FormGroup.invalid" md-raised-button color="accent">NEXT</button>
    </md-card-actions>
  </md-card>
</form>
