md-card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

md-input {
  width: 100%;
}

md-card-actions {
  justify-content: flex-end;
}

.form-group {
  width: 100%;
}

md-radio-button {
  margin: 15px;
}
