<!--The content below is only a placeholder and can be replaced.-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <md-toolbar>
      <md-icon routerLink="/">home</md-icon>
      <button routerLink='/funds' md-button> Funds </button>
      <button routerLink='/cars' md-button> Cars </button>
      <button routerLink='/simulations' md-button> Simulations </button>
    </md-toolbar>

  </header>
  <main class="mdl-layout__content">
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
