<md-card>
  <div *ngIf="!course">Please select a fund !</div>
  <div *ngIf="course">
    <md-card-title>
      Details
    </md-card-title>
    <md-card-content>
      <md-input-container>
        <input mdInput placeholder="Name" [(ngModel)]="editCourse.name">
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Topic" [(ngModel)]="editCourse.topic">
      </md-input-container>
    </md-card-content>
    <md-card-footer>
      <div>
        <button (click)="save()" md-raised-button>Save</button> &nbsp;
        <button (click)="cancel()" md-raised-button>Cancel</button> &nbsp;
        <button (click)="delete()" *ngIf="!isAddMode()" md-raised-button>Delete</button>
      </div>
    </md-card-footer>

  </div>
</md-card>