<article class="template animated slideInRight">
  <button (click)="addFund()" md-raised-button>Add</button>

  <!-- <filter-text (changed)="filterChanged($event)"></filter-text> -->


  <md-table #table [dataSource]="dataSource">

    <ng-container cdkColumnDef="id">
      <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <md-icon (click)="editFund(row)">edit</md-icon>{{row.id}} </md-cell>

    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <!-- Topic Column -->
    <ng-container cdkColumnDef="topic">
      <md-header-cell *cdkHeaderCellDef> Topic </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.topic}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
  
</article>